

html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
	font-weight: normal;
	font-style: normal;
	letter-spacing:1.5px;
	color: white;
	
}

img {
	display: block;
}

a {
	color: var(--link-color);
	// &.active {
	// 	color: #eca242;
	// 	text-decoration: underline;
	
}
span {
	color: var(--link-color);
	&.active {
		color: #eca242;
		text-decoration: underline;
	}
}
@media (any-hover: hover) {
	a:hover {
		color: #eca242;
		transition: background-color 0.1s linear;	
	}
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.font-1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}
