:root {
	--container-width: 1440px;
	--container-padding: 15px;

	--font-main: 'BebasNeue', sans-serif;
	--font-accent: 'BebasNeue', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #ffffff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #fff;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}