.footer {
  padding: 5px 0;
  font-size: 22px;
  color: #fff;
  background-color: #2e2d2d;
  & p {
    color: #fff;
  }


  a {
    // color: var(--link-color);
    color: #fff;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
}

.footer__copyright {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
}
.footer .social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

