.footer {
  background-image: url('../../img/железо2.jpg');
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  
  padding: 20px 0;
  font-size: 22px;
  color: #fff;


  a {
    // color: var(--link-color);
    color: #fff;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
}

.footer__copyright {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
}
.footer .social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
