.header {

	background-image: url('../../img/железо2.jpg');
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;
	
	padding: 20px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	
}

