.header {
	padding: 10px 0;
	background-color: rgba($color: #000000, $alpha: 0.3) ;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
        text-align: center;
        
	}

}

.nav-link.active {
    	color: #eca242;
		text-decoration: underline;
}

.language-switcher {
    display: flex;
    gap: 7px;
    align-items: center;
}

.lang-btn {
    position: relative;
    background-color: #ffffff00;
    color: #333;
    border: none;
    border-radius: 50%; /* Круглые кнопки */
    width: 5px;
    height: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
	border: 1px solid rgba($color: #eca242, $alpha: 1);;
}

.lang-btn .text {
    z-index: 1;
    transition: opacity 0.3s ease;
}

.lang-btn .flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lang-btn:hover .text {
    opacity: 0;
}

.lang-btn:hover .flag {
    opacity: 1;
}

.lang-btn[data-lang="en"] {
    background-color: #000000, 0.1;
}

.lang-btn[data-lang="ru"] {
    background-color: #000000, 0.5;
}

.lang-btn[data-lang="ge"] {
    background-color: #000000, 0.5;
}

/* Флаги */
.flag-en {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg');
}

.flag-ru {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg');

}

.flag-ge {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg');

}
/* Содержимое */


p {
    color: #333;
}


.contacts__info {
    margin-top: 20px;
    text-align: center;
}

.contacts__info-text {
    font-size: 18px;
    margin: 5px 0;
    color: #ffffff;
    text-align: center;
}

/* Интерактивные ссылки */
.contacts__info-text a {
    color: #eca242;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contacts__info-text a:hover {
    color: #b6905f;
}
