/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/mixins";
@import "./base/fontsAutoGen";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

.container-service {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.title {
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.service-bg {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 45vh;
}
.container-hello {
  display: flex;
  justify-content: center;
  border: 1px solid rgba($color: #eca242, $alpha: 1);
  background-color: rgba($color: #363744, $alpha: 1);
}
.title__hello {
  text-align: center;
  padding-bottom: 5vh;
}

.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 3vh;
  background-color: rgba($color: #191927, $alpha: 1);
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
}

.gear-icon {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin-bottom: 10px;
  font-size: 1.7rem;
  color: #eca242;
}

.card,
.card__subtitle {
  font-size: 0.9rem;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.co2-container-parts {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba($color: #363744, $alpha: 1);
}

.co2-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.co2-title-container .co2-line {
  flex: 1;
  height: 1px;
  background-color: #eca242;
  margin: 0 20px;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

/* Карточки */
.co2-card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.co2-card-parts {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.co2-card-parts.active {
  transform: translateY(0);
  opacity: 1;
}

.co2-card-parts:hover {
  transform: scale(1.05);
}

.co2-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

/* Кнопка */
.co2-button-container {
  margin-top: 40px;
}

.co2-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #eca242;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.co2-button:hover {
  background-color: #eca242;
}

.hello__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;
}

.container-parts {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba($color: #191927, $alpha: 1);
}

/* Заголовок с линиями по бокам */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title-container .line {
  flex: 1;
  height: 1px;
  background-color: #eca242;
  margin: 0 20px;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

/* Карточки */
.card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.card-parts {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.card-parts.active {
  transform: translateY(0);
  opacity: 1;
}

.card-parts:hover {
  transform: scale(1.05);
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

/* Кнопка */
.button-container {
  margin-top: 40px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #eca242;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b6905f;
}
